Repository Makoto0528/react-started-kit: changes, and which lefthook commands are due for each by the changed paths.
All: typescript-check, pint, eslint, prettier

typescript-check:
  run: vendor/bin/sail npx tsc --noEmit

pint:
  run: vendor/bin/sail bin pint {staged_files} -q
  stage_fixed: true

eslint:
  run: vendor/bin/sail npx eslint --fix {staged_files}

prettier:
  run: vendor/bin/sail npx prettier --write {staged_files}
  stage_fixed: true

feat(dev-tools): integrar Rector y Larastan para análisis y refactorización
  composer.json
  composer.lock
  phpstan.neon
  rector.php
Due: pint, prettier

refactor(app): ajustes de tipo y organización de imports
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/User.php
  app/Providers/TelescopeServiceProvider.php
  bootstrap/app.php
  config/app.php
  config/auth.php
  config/cache.php
  config/database.php
  config/logging.php
  config/mail.php
  config/session.php
  config/telescope.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/0001_01_01_000001_create_cache_table.php
  database/migrations/0001_01_01_000002_create_jobs_table.php
  database/migrations/2025_05_21_134917_create_telescope_entries_table.php
  resources/js/Components/AppSidebar.tsx
  resources/js/Components/NavSecondary.tsx
  resources/js/Components/NavUser.tsx
  resources/js/Components/SectionCards.tsx
  resources/js/Layouts/AccountLayout.tsx
  resources/js/Layouts/AppLayout.tsx
  resources/js/Pages/Profile/Appearance.tsx
  resources/js/Pages/Profile/Billing.tsx
  resources/js/Pages/Profile/General.tsx
  resources/js/Pages/Profile/Integrations.tsx
  resources/js/Pages/Profile/Notifications.tsx
  resources/js/Pages/Profile/Password.tsx
  resources/js/Pages/Profile/Security.tsx
  resources/js/app.tsx
Due: typescript-check, pint, eslint, prettier

feat(ui): agregar soporte para notificaciones con Sonner
  resources/js/Components/UI/Sonner.tsx
  resources/js/Components/WrapperTheme.tsx
  resources/js/Contexts/ThemeContext/ThemeContext.tsx
  resources/js/app.tsx
Due: typescript-check, eslint, prettier

feat(auth): agregar diseño inicial para página de login
  resources/images/auth_aurora_2x.png
  resources/js/Layouts/AuthLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  routes/web.php
  vite.config.js
Due: typescript-check, pint, eslint, prettier

feat(scraper): agregar spider diario para citas y modelo Quote
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Quote.php
  app/Spiders/DailyQuoteSpider.php
  app/Spiders/Middleware/WithoutCertificateValidation.php
  app/Spiders/Processors/EloquentItemProcessor.php
  composer.json
  composer.lock
  config/roach.php
  database/factories/QuoteFactory.php
  database/migrations/2025_05_21_180436_create_quotes_table.php
  resources/js/Layouts/AuthLayout.tsx
  resources/js/Types/index.d.ts
  routes/console.php
Due: typescript-check, pint, eslint, prettier

feat(quotes): optimizar manejo y generación de citas
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Quote.php
  app/Spiders/DailyQuoteSpider.php
  database/factories/QuoteFactory.php
  database/migrations/2025_05_21_180436_create_quotes_table.php
  database/seeders/DatabaseSeeder.php
Due: pint

feat(auth): implementar inicio de sesión con nuevo diseño
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Resources/QuoteResource.php
  app/Http/Resources/UserResource.php
  rector.php
  resources/js/Components/PasswordInput.tsx
  resources/js/Layouts/AuthLayout.tsx
  resources/js/Pages/Auth/Login.tsx
  routes/web.php
Due: typescript-check, pint, eslint, prettier

Path conditions:
  typescript-check: any of: *.{ts,tsx}
  pint: any of: *.php
  eslint: any of: *.{js,jsx,ts,tsx}, but not: public/*.{js,jsx,ts,tsx,md,yml,yaml,json,css}, resources/js/Components/UI/*.tsx
  prettier: any of: *.{js,jsx,ts,tsx,md,yml,yaml,json,css}, but not: public/*.{js,jsx,ts,tsx,md,yml,yaml,json,css}, resources/js/Components/UI/*.tsx
